.header{
  padding: 0 0 0 9% !important;
  align-content: center;
  border-bottom: rgba(124, 77, 58, 0.51) 0.5px solid;
}

h3{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(105, 61, 45);
}
