.activities-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 25px;

  .activity {
    background-color: #dab38c;
    padding: 20px;
    border-radius: 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    position: relative;

    &:nth-child(3n+1),
    &:nth-child(3n+2),
    &:nth-child(3n+3),
    &:nth-child(3n+4) {
      grid-column: span 3;
    }

    &:hover {
      > *:not(.hover-img) {
        filter: blur(5px);
        transition: filter 0.3s ease;
      }
    }

    .hover-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0;
      width: 80%;
      height: auto;
      border-radius: 15px;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover .hover-img {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  h3 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    font-weight: bolder;
    color: rgb(105, 61, 45);
    margin-bottom: 0 !important;
  }

  h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgba(105, 61, 45, 0.59);
    margin: 0 !important;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: white;
  }

  span {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .activities-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 25px;

    .activity {
      &:nth-child(3n+1),
      &:nth-child(3n+2),
      &:nth-child(3n+3),
      &:nth-child(3n+4) {
        grid-column: span 4;
      }
    }
  }}

@media screen and (max-width: 768px) {

  .activities-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

    .activity {
      &:nth-child(3n+1),
      &:nth-child(3n+2),
      &:nth-child(3n+3),
      &:nth-child(3n+4) {
        grid-column: span 4;
      }
    }
  }
}
